
@{
    ViewData["Title"] = "Commission Detail";
}
@{
    <style type="text/css">
        .cus_dropdown a {
            font-size: 13px;
        }

        .custable_responsive {
            min-height: 350px !important;
        }
    </style>
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">Commission</li>
            <li class="breadcrumb-item active">Commission Detail</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="card mt-2">
                <div class="card-header bg-gradientorange text-white pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-8 text-monospace">
                            <i class="fas fa-link"></i> CommissionDetail
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                               
                                <div class="input-group-append">
                                    <button id="btnNew" class="btn btn-outline-light btn-sm font-bold text-monospace pl-3 pr-3">New</button>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-1">
               
            </div>
        </div>
    </div>
</div>

