@using Fintech.AppCode.StaticModel;
@model RoundpayFinTech.AppCode.ThirdParty.HotelAPI.blockresponse;
@*@model RoundpayFinTech.AppCode.Model.ProcModel.TransactionDetail*@
<style>
    .main-body {
        margin: 20px auto;
        width: 100%;
    }

    .address-detail p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .com-logo {
        padding-left: 20px;
        padding: 0;
        vertical-align: top;
    }

    .bg-g {
        background: #e6e6e6;
    }

    .table td, .table th {
        padding: 5px;
        font-size: 14px;
    }
</style>
<button type="button" class="close cus_modal_close_btn" aria-label="Close" style="margin-right: 11px;">
    <span aria-hidden="true">&times;</span>
</button>

