@model IEnumerable<RoundpayFinTech.AppCode.Model.Exchange.Commission_Denomination>
@if (Model.Any())
{
    if (Model != null && Model.Count() > 0)
    {

        var list = new SelectList(Model, "DenominationID", "Amount");
        <select aria-describedby="helpBL" multiple="multiple" class="form-control" id="DenomitionID" tabindex="4" asp-items="@list">
            <option value="0"> :: Select on :: </option>
        </select>
                }
                else
                {

                 <select>
            <option value = "0"  id="DenomitionID" > ::Select Op:: </option>
            </select>
                }
}


<script>$('#DenomitionID').select2({
        closeOnSelect: false,
        placeholder: "Choose atleast one",
        allowHtml: true,
        allowClear: true,
        tags: true // создает новые опции на лету
    });
    



    </script>